<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Contact</title>
  <meta name="keywords" content="Take your Internet" />
  <meta name="description" content="Internet service provider">
  <meta name="author" content="ISP Provider , Internet">
  <meta name="description"
    content="Jaytel Fibernet provides high-speed internet services to residential and business customers Chittoor.">
  <meta name="keywords"
    content="Jaytel Fibernet, Internet Service Provider, High-Speed Internet, Broadband, Fibernet Chittoor">


  <!-- Mobile view -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="images/favicon.ico"> -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  <!-- <link rel="stylesheet" type="text/css" href="js/bootstrap/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/bootstrap/css/bootstrap.min.css') }}">
  <!-- Google fonts - witch you want to use - (rest you can just remove) -->
  <link
    href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic'
    rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet'
    type='text/css'>

  <!-- Template's stylesheets -->
  <!-- <link rel="stylesheet" href="js/template-custom/css/template-custom.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='js/template-custom/css/template-custom.css') }}">


  <!-- <link rel="stylesheet" href="css/theme-default.css" type="text/css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme-default.css') }}" type="text/css">

  <!-- <link rel="stylesheet" href="css/theme.css" type="text/css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}" type="text/css">


  <!-- <link rel="stylesheet" href="js/mainmenu/menu.css" type="text/css" /> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='js/mainmenu/menu.css') }}" type="text/css" />


  <!-- <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome/css/font-awesome.min.css') }}"
    type="text/css">


  <!-- <link rel="stylesheet" type="text/css" href="fonts/Simple-Line-Icons-Webfont/simple-line-icons.css" media="screen" /> -->
  <link rel="stylesheet"
    href="{{ url_for('static', filename='fonts/Simple-Line-Icons-Webfont/simple-line-icons.css') }}" type="text/css"
    media="screen" />

  <!-- <link rel="stylesheet" href="fonts/et-line-font/et-line-font.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/et-line-font/et-line-font.css') }}" />

  <!-- <link rel="stylesheet" type="text/css" href="js/smart-forms/smart-forms.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='js/smart-forms/smart-forms.css') }}" type="text/css" />


  <!-- <link rel="stylesheet" href="css/theme-responsive.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme-responsive.css') }}" />

  <!-- Template's stylesheets END -->

  <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

  <!-- Style Customizer's stylesheets -->

  <!-- <link rel="stylesheet/less" type="text/css" href="less/skin.less">
  <link rel="stylesheet/less" href="{{ url_for('static', filename='less/skin.less') }}" type="text/css" /> -->

  <!-- Style Customizer's stylesheets END -->

  <!-- Skin stylesheet -->
  <style>
    /* Targeting the links directly for hover effect */
    .navbar-default .navbar-nav>li>a {
      transition: all 0.3s ease;
      /* Smooth transition for background and border changes */
      padding: 10px 15px;
      /* Adjust padding as needed */
      margin: 5px 0;
      /* Margin for spacing between menu items */
      border: 3px solid transparent;
      /* Initial border setting */
    }

    /* Adding the hover effect */
    .navbar-default .navbar-nav>li>a:hover {
      background-color: blue;
      /* Background color change on hover */
      color: white;
      /* Text color change on hover, if needed */
      border-color: blue;
      /* Border color change on hover */
    }



    /* Centering the logo */
    .navbar-header .navbar-brand {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      /* Adjust based on your navbar's height */
    }

    /* Styling the image within the navbar-brand */
    .navbar-header .navbar-brand img {
      margin: 0 auto;
      /* Centers the image */
      display: block;
      padding-bottom: 10px 0;
      /* Adjust the padding to ensure it doesn't touch other elements */
    }

    #sbtn:hover {
      background-color: blue;
    }
  </style>
</head>

<body class="loading">



  <div class="preloader-wrap"></div>

  <!-- Page template -->

  <!-- Preloader icon -->

  <!-- <div class="wrapper-boxed">
    <div class="site-wrapper" style="position: relative;">
      <div class="topbar light topbar-padding">
        <div class="container">
          <ul class="toplist toppadding">

            <li class="lineright"><a href="{{ url_for('contact') }}">Register</a></li>
            <li><a href="https://www.facebook.com/codelayers"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li class="last"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div> -->
  <div class="clearfix"></div>

  <!--end topbar-->

  <div class="col-md-12 nopadding">
    <div id="header">
      <div class="container">
        <div class="navbar navbar-default yamm">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid"
              class="navbar-toggle two three"><span class="icon-bar"></span><span class="icon-bar"></span><span
                class="icon-bar"></span></button>
            <a href="index.html" class="navbar-brand"><img src="{{ url_for('static', filename='images/logo.svg') }}"
                alt="logo" style="width:100px; padding-bottom:10px ;"></a>
          </div>
          <div id="navbar-collapse-grid" class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav" style="font-size: large; padding-top: 20px; color: #555555;">
              <li class="dropdown"> <a href="{{ url_for('index') }}" class="dropdown-toggle">Home</a>

              </li>

              <li> <a href="{{ url_for('contact') }}" class="dropdown-toggle">Register</a></li>

              <li> <a href="{{ url_for('about') }}" class="dropdown-toggle">About Us</a></li>
              <li> <a href="{{ url_for('about') }}" class="dropdown-toggle">Speed Test</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end menu-->

  <!-- <div class="clearfix"></div> -->
  <!-- <section class="sec-padding section-light text-center">
        <img src="{{ url_for('static', filename='images/Jaytel-Banner.svg') }}" alt="logo">

    </div>
    </section>
    <div class="clearfix"></div> -->
  <!-- end section -->

  <section>
    <div class="pagenation-holder">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!-- <h4>Contact Style 1</h4> -->
          </div>
          <div class="col-md-6 text-right">
            <div class="pagenation_links">
              <!-- <a href="#">Home</a><i> / </i> <a href="#">Contact</a> -->

            </div>
          </div>
        </div>
      </div>
  </section>
  <div class="clearfix"></div>
  <!--end section-->


  <section class="sec-padding">
    <div class="container">
      <div class="row">

        <div class="col-md-8">
          <div class="smart-forms bmargin">

            <h3>Contact Form</h3>

            <br />
            <br />

            <form method="post" action="{{ url_for('contact') }}" id="smart-form">
              <div>
                <div class="section">
                  <label class="field prepend-icon">
                    <input type="text" name="name" id="sendername" class="gui-input" placeholder="Enter name" required>
                    <span class="field-icon"><i class="fa fa-user"></i></span> </label>
                </div>
                <!-- end section -->

                <!-- <div class="section">
                      <label class="field prepend-icon">
                        <input type="email" name="emailaddress" id="emailaddress" class="gui-input"
                          placeholder="Email address">
                        <span class="field-icon"><i class="fa fa-envelope"></i></span> </label>
                    </div> -->
                <!-- end section -->

                <div class="section colm colm6">
                  <label class="field prepend-icon">
                    <input type="tel" name="contact" id="telephone" class="gui-input" placeholder="Telephone" required
                      minlength="10">
                    <span class="field-icon"><i class="fa fa-phone-square"></i></span> </label>
                </div>
                <!-- end section -->



                <div class="section">
                  <label class="field prepend-icon">
                    <textarea class="gui-textarea" id="address" name="sendermessage" placeholder="Enter Address"
                      required minlength="10"></textarea>

                    <span class="field-icon"><i class="fa fa-comments"></i></span>

                </div>

                <div class="result"></div>
                <!-- end .result  section -->

              </div>
              <!-- end .form-body section -->
              <div>
                <button type="submit" data-btntext-sending="Sending..." class="btn"
                  style="background-color: #555; color: whitesmoke;" id="sbtn" onclick="popup()">Submit</button>
                <!-- <button type="reset" class="button"> Cancel </button> -->
              </div>
              <!-- end .form-footer section -->
            </form>
          </div>
          <!-- end .smart-forms section -->

        </div>


        <div class="col-md-4">
          <br />
          <h4>Address Info</h4>
          No.28 - 394/2B, Saibaba street, Ramnagar colony, Chittoor - 517001 <br />
          Mobile: +91 6305256722<br />

          <br />
          E-mail: <a href="mailto:info@jaytelfiber.com">info@jaytelfiber.com</a><br />
          <!-- Website: <a href="#">www.Jaytelfiber.com</a> -->
          <div class="clearfix"></div>
          <br /><br />
          <!-- <h4>Find the Address</h4> -->


        </div>
      </div>
    </div>
  </section>
  <!--end section-->

  <!-- end section -->

  <div class="divider-line-dobble"></div>
  <div class="clearfix"></div>
  <section class="sec-xxless-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-left"> <span>Copyright 2024 © <a href="#">Jaytel Fibernet</a> <a href="#"></a>
            | All rights reserved.</span></div>
        <div class="col-md-6">
          <ul class="footer-social-icons pull-right">
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <!--end section-->

  <a href="#" class="scrollup"></a><!-- end scroll to top of the page-->

  </div>
  <!--end site wrapper-->
  </div>
  <!--end wrapper boxed-->

  <!-- Scripts -->
  <!-- <script src="js/jquery/jquery.min.js"></script> -->
  <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>


  <!-- <script src="js/bootstrap/js/bootstrap.min.js"></script> -->
  <script src="{{ url_for('static', filename='js/bootstrap/js/bootstrap.min.js') }}"></script>


  <!-- <script src="js/less/less.min.js" data-env="development"></script> -->
  <script src="{{ url_for('static', filename='js/less/less.min.js') }}" data-env="development"></script>


  <!-- <script src="js/sticky/js/jquery.sticky.js"></script> -->
  <script src="{{ url_for('static', filename='js/sticky/js/jquery.sticky.js') }}"></script>
  <!-- Scripts END -->

  <!-- Template scripts -->
  <!-- <script src="js/mainmenu/customeUI.js"></script>
  <script src="js/template-custom/js/template-custom.js"></script>
  <script type="text/javascript" src="js/smart-forms/jquery.form.min.js"></script>
  <script type="text/javascript" src="js/smart-forms/jquery.validate.min.js"></script>
  <script type="text/javascript" src="js/smart-forms/additional-methods.min.js"></script>
  <script type="text/javascript" src="js/smart-forms/smart-form.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="js/gmaps/jquery.gmap.js"></script>
  <script type="text/javascript" src="js/gmaps/examples.js"></script>
  <script src="js/functions/functions.js"></script> -->

  <script src="{{ url_for('static', filename='js/mainmenu/customeUI.js') }}"></script>
  <script src="{{ url_for('static', filename='js/template-custom/js/template-custom.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/smart-forms/jquery.form.min.js') }}"></script>
  <script type="text/javascript"
    src="{{ url_for('static', filename='js/smart-forms/jquery.validate.min.js') }}"></script>
  <script type="text/javascript"
    src="{{ url_for('static', filename='js/smart-forms/additional-methods.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/smart-forms/smart-form.js') }}"></script>
  <!-- For Google Maps API, you usually include it directly from the Google URL -->
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/gmaps/jquery.gmap.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/gmaps/examples.js') }}"></script>
  <script src="{{ url_for('static', filename='js/functions/functions.js') }}"></script>

  <!-- <script>
    var form = document.getElementById('smart-form');
    function popup() {
      if (form.checkValidity()) {
        alert("Registered Succesfully!");
      }
    }
  </script> -->
  <script>
    var form = document.getElementById('smart-form');
    form.onsubmit = function (event) {
      if (!form.checkValidity()) {
        event.preventDefault();
        var elements = form.elements;
        for (var i = 0; i < elements.length; i++) {
          if (!elements[i].checkValidity()) {
            alert(elements[i].validationMessage);
            return;
          }
        }
      } else {
        alert("Registered Successfully!");
        event.preventDefault();
      }
    };
  </script>

</body>

</html>